@page "/chief/dishes"
@attribute [Authorize(Roles = "Chief")]

@inject IDishService DishService
@inject RestaurantDialogFactory DialogFactory
@inject ISnackbar Snackbar

@inject NavigationManager NavigationManager

<MudLink Href="/chief/dishes/create" >
    <h3>Додати страву</h3>

</MudLink>

<MudSwitch T="bool"
            ValueChanged="OnShowDisabledChanged"
             Label="Показати вимкнені"
             Color="Color.Primary"
              />

<div class="food-items-container">
    @foreach(var dish in Dishes)
    {
        <MudPaper class="food-item-container">
            <div class="food-item-picture">
                @if(!string.IsNullOrEmpty(dish.ImageUrl))
                {
                    <img src="@dish.ImageUrl" Alt="Food Image" Class="rounded-lg"/>
                }
            </div>

            <div class="food-item-title">
                <h1>@dish.Name</h1>
            </div>
            <div class="food-item-buttons">
                <MudStack Row="true">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="@(() => EditDish(dish.Id))">
                        Редагувати
                    </MudButton>
                    <MudButton Variant="Variant.Filled" Color="Color.Secondary" @onclick="@(() => OnDeleteAsync(dish.Id))">
                        Видалити
                    </MudButton>
                </MudStack>
            </div>
        </MudPaper>
    }
</div>

<style>
    .food-items-container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .food-item-container {
        width: calc(33.333% - 10px);
        display: flex;
        align-items: center;
        justify-content: center;

        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
        overflow: hidden; /* Щоб не виходило за межі контейнера */
    }

    .food-item-picture {
        width: 100%;
        display: flex;
        justify-content: center; /* Центруємо картинку */
        align-items: center; /* Вирівнюємо картинку по центру */
        flex-grow: 1; /* Це дозволить картинці "зсувати" інші елементи */
    }

    .food-item-picture img {
        width: 100%;
        height: auto;
        max-height: 150px;
        /* Ви можете налаштувати максимальну висоту картинки */
        object-fit: contain;
        /* Підтримка пропорцій зображення */
    }

    .food-item-title {
        width: 100%;
        align-items: start;
    }
    .food-item-buttons {
        width: 100%;
        align-items: start;
    }
</style>