<MudDialog>
    <TitleContent>
        <MudStack>
            @foreach (var orderDay in OrderDays)
            {
                <MudStack Row="true" AlignItems="AlignItems.Center">
                    <h3>@orderDay.Date</h3>
                    <MudButton @onclick="@(() => Select(@orderDay))">
                        Обрати
                    </MudButton>
                </MudStack>
            }
        </MudStack>
    </TitleContent>
</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; } = null!;

    [Parameter]
    public List<OrderDayDto> OrderDays { get; set; }

    private void Select(OrderDayDto orderDay)
    {
        MudDialog.Close(DialogResult.Ok(orderDay));
    }

    private void Ok() => MudDialog.Close();

    private void Cancel() => MudDialog.Cancel();
}