@page "/"

@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthenticationStateProvider
@using RestaurantApp.Presentation.Pages.Authorization


<AuthorizeView>
    <NotAuthorized>
        <LoginPage/>
    </NotAuthorized>

    <Authorized>
        <PageTitle>Index</PageTitle>

        <h1>Hello, world!</h1>

        Welcome to your new app.

        <SurveyPrompt Title="How is Blazor working for you?" />
    </Authorized>
</AuthorizeView>

@code {
    private bool _redirected = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !_redirected)
        {
            var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            var user = authState.User;

            if (user.Identity.IsAuthenticated)
            {
                _redirected = true;
                if (user.IsInRole("User"))
                {
                    Navigation.NavigateTo("/orders");
                }
            }
            else
            {
                _redirected = true;
                Navigation.NavigateTo("/login");
            }
        }

    } 
}